.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
}



body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Ubuntu', 'Montserrat', 'Roboto';
    color: black;
    text-align: center;
    background-color: white; /*#0C0C12*/ 
    font-size: 0.9vw;

    overflow-x: hidden;
}
hr {
    width: 85%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.black_box {
    background-color: #262629;
    color: white;
    padding: 5%;
    border-radius: 5px;
    /* box-shadow: 8px 8px 5px #c9c9c9; */
}
.black_box > img {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #292929;
}
.text_box {
    width: 35vw;
    margin: 0;
    position: relative;
}

p {
    font-size: 1.2vw;
    font-family: 'Montserrat';
}

/* 
    Header
*/
header {
    background-color: white;
    width: 100%;
    box-shadow: 8px 8px 8px #888888;
}
#icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:30%; 
    width:50%;
}

/*
    Main
*/
#info {
    padding: 5%;
    margin-top: 20px;
    background-image: url("https://ideasphere.com/wp-content/uploads/2016/08/Savin-NY-Website-Background-Web-1.jpg");
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  

    background-attachment: fixed;
  
    -webkit-animation: slide 40s linear infinite;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -1000px 0; }
} 

#about, #ivelthoven{
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}
#about {
    -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
    transition: width 3s, height 5s;    
}
#ivelthoven {
    -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
    transition: width 6s, height 10s;    
}
#info:hover #about, #info:hover #ivelthoven{
    width: 60%;
}


#skills, #projects {
    background-color: #262629;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}
.skills_images {
    /* border: 5px solid black; */
    width: 40%;
    height: 25%;
    margin: auto;
}
.skills_box {
    font-size: 0.8vw;
}

#quotes {
    height: 20%;
    background-image: url("https://dollarfootage.com/wp-content/uploads/2017/08/Abstract-business-background-newsroom-geometric-futuristic-field-white-with-black-lines-1-HD-img.jpg");

    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  

    background-attachment: fixed;

    display:flex;
    align-items: center;
    justify-content: center;
}
#quotes > h1 {
    color: #504d4d;
    position: relative;
}

.project_box {
    background-color: white;
    color: black;
    margin: 4%;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 8px 8px 8px #000000;
}

#contact {
    padding-top: 5%;
}
.fa {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 5s ease;
}
.fa:hover {
filter: grayscale(0%);
filter: gray;
-webkit-filter: grayscale(0%);
filter: none;
transition: 0.5s ease;
}
.fa-facebook {
background: #3B5998;
color: white;
}
.fa-linkedin {
background: #007bb5;
color: white;
}
.fa-instagram {
background: #125688;
color: white;
}
.fa-snapchat-ghost {
background: #fffc00;
color: white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa-envelope {
    background: #f82b57;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.mail, .social_media {
    margin-left: 5%;
}


#footer {
    color: white;
    background-color: #262629;
    margin-top: 5%;
    height: 10%;
}



@media only screen and (max-width: 700px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    #quotes {
        height: 10%;
    }
    .mail, .social_media {
        margin-left: 0;
    }
    .skills_images {
        width: 20%;
        height: 15%;
    }

}
@media only screen and (max-width: 1200px) {
    /* For mobile phones: */
    .project_box {
        margin-top: 5%;
        margin-left: 10%;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 80%;
        border: 0;
    }
}